<div class="bg-white my-10 ml-28 p-10 rounded-lg" *ngIf="book">
    <h2>{{book.title | uppercase}} Details</h2>
    <div><span>ID: </span>{{book.id}}</div>
    <div><span>Author: </span>{{book.author}}</div>
    <div><span>Genre: </span>{{book.genre}}</div>
    <div class="ml-2" *ngIf="book.review">
        <p class="font-bold">Review: </p>
        <div><span>Rating:</span> {{book.review.rating}}</div>
        <div><span>Comment: </span>{{book.review.comment}}</div>
    </div>
    <button 
    class="bg-green-200 text-gray-700 text-sm mt-2 w-2/4 p-4 rounded-md hover:bg-gray-400"
    (click)="onUpdateClick()">
    Update this book</button>
    <div>

    </div>
  
  </div>

  <div *ngIf="updateBook">
    <app-update-book [book]="updateBook" (dontShow)="clearUpdateBook($event)" (updatedBook)="uppdateCurrentBook($event)"></app-update-book>
  </div>
