<div class="flex justify-center">
    <h2 class="text-2xl">My Books</h2>
</div>
<div class="flex justify-center">
        <ul class="list-none">
            <li *ngFor="let book of books">
                <div class="bg-white rounded-lg p-10 m-10 cursor-pointer">
                    <a routerLink="/detail/{{book.id}}">
                        <span class="hover:opacity-50">{{book.title}}</span>
                        <span (click)="removeBook(book)" class="ml-5 text-2xl hover:opacity-30"> <fa-icon [icon]="faSquareXmark"></fa-icon></span>
                    </a>
                </div>
             </li>
        </ul>
</div>
